/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Avenir Black';
    src: url(./assets/fonts/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: 'Avenir Book';
    src: url(./assets/fonts/AvenirLTStd-Book.otf);
}
@font-face {
    font-family: 'Avenir Roman';
    src: url(./assets/fonts/AvenirLTStd-Roman.otf);
}

* {
    font-family: 'Avenir Book';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.d-flex{
    display: flex;
} 
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}